@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(194, 194, 223);
}

.rem2 {
  padding: 0 2rem 0 2rem;
}

.cardData {
  max-width: 40%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  color: black;
}
.cardData form {
  padding: 2rem;
  margin: 2rem;
  color: black;
}

.cardData input {
  color: black;
}

.cardData fieldset {
  border: none;
  color: black;
}

.width {
  width: 100%;
  margin-top: 10px;
}

.height {
  margin: 1rem 0 1rem 0;
}

.formData {
  width: 100%;
}
